<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="about.css">
    <link rel="short icon" href="images/Short cut.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body style="-color:#ADD8E6;">


    <!--Navigation Bar-->

    <nav>
        <div class="logo">
            <a href="/">
                <img src="images/logoni.png">
            </a>
        </div>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about" class="action">About Us</a></li>
            <li>
                <a>Components <i class="fa-sharp fa-solid fa-caret-down"></i></a>
                <ul class="dropdown">
                    <li><a href="/pcparts">PC Parts</a></li>
                    <li><a href="/laptopParts">Laptop Parts</a></li>
                </ul>
            </li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>

        <div class="box">
            <input type="checkbox" id="check">
            <div class="search-box">
                <input type="text" placeholder="Type here...">
                <label for="check" class="icon">
                    <i class="fas fa-search"></i>
                </label>
            </div>
        </div>


    </nav>




    <!--Banner-->

    <div class="banner_bg">

        <h1><span>About</span>Us</h1>

    </div>

    <!---- About Us --->

    <div class="about anim">
        <div class="about_main">

            <div class="image">
                <img src="images/bg/bg2.png">
            </div>

            <div class="about_text">
                <h1><span>About</span>Us</h1>
                <p>
                    As the demand for IT products and services grows, individuals often find it challenging to locate a trustworthy platform 
                    offering essential IT equipment at fair prices. Many existing physical stores fall short of meeting customer expectations,
                    which can lead to frustration and missed opportunities. This project seeks to address this need by creating an online platform
                    dedicated to IT essentials, providing a seamless shopping experience, reliable product support, and personalized recommendations.<br>
                    <br>
                    Our mission is to serve you what you are looking for.
                    <br><br>
                    WeIT. is here to fulfill what you need. Order now!
                </p>
            </div>

        </div>

        <a href="/pcparts" class="about_btn"><i class="fa-solid fa-burger"></i>Order Now</a>

    </div>




    <!--Footer-->

    <footer>

        <div class="footer_main">

            <div class="footer_tag">
                <h2>Location</h2>
                <p>Cebu</p>
                <p>Iloilo</p>
                <p>Manila</p>
                <p>Aklan</p>
                <p>Negros</p>
            </div>

            <div class="footer_tag">
                <h2>Quick Link</h2>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/pcparts">PC Parts</a>
                <a href="/laptopParts">Laptop Parts</a>
                <a href="/gallery">Gallery</a>
            </div>

            <div class="footer_tag">
                <h2>Contact</h2>
                <p>+94 12 3456 789</p>
                <p>+94 25 5568 456</p>
                <p>johndeo123@gmail.com</p>
                <p>foodshop123@gmail.com</p>
            </div>

            <div class="footer_tag">
                <h2>Our Services</h2>
                <p>Fast Delivery</p>
                <p>Easy Payment</p>
                <p>24 x 7 Service</p>
            </div>

            <div class="footer_tag">
                <h2>Follows</h2>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>

        </div>

        <p class="end">Design by<span><i class="fa-solid fa-face-grin"></i> <%= about%></span></p>

    </footer>

</body>

</html>