<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filipino Food Restaurant</title>
    <link rel="stylesheet" href="gallery.css">
    <link rel="short icon" href="images/Short cut.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="background-color: #ADD8E6;">


    <!--Navigation Bar-->

    <nav>
        <div class="logo">
            <a href="/">
                <img src="images/logoni.png">
            </a>
        </div>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li>
                <a>Components <i class="fa-sharp fa-solid fa-caret-down"></i></a>
                <ul class="dropdown">
                    <li><a href="/pcparts">PC Parts</a></li>
                    <li><a href="/laptopParts">Laptop Parts</a></li>
                </ul>
            </li>
            <li><a href="/gallery" class="action" >Gallery</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>

        <div class="box">
            <input type="checkbox" id="check">
            <div class="search-box">
                <input type="text" placeholder="Type here...">
                <label for="check" class="icon">
                    <i class="fas fa-search"></i>
                </label>
            </div>
        </div>


    </nav>




    <!--Banner-->

    <div class="banner_bg">

        <h1>Our<span>Gallery</span></h1>

    </div>

    <!--Gallery-->

    <div class="gallery anim">
        

        <div class="gallery_image_box">
            <div class="gallery_image">
                <img src="images/lp/cool.jpg">

                <h3>Cooling Fan</h3>
                <p>
                    Vibrant colors high quality cooling fan. </p> 
                <a href="/pcparts" class="gallery_btn">Order Now</a>
            </div>

            <div class="gallery_image">
                <img src="images/lp/dock.png">

                <h3>Docky</h3>
                <p>
                    Docky hub with 3 port.
                </p>
                <a href="/laptopParts" class="gallery_btn">Order Now</a>
            </div>

            <div class="gallery_image">
                <img src="images/lp/stand.jpg">

                <h3>Laptop Stand</h3>
                <p>
                    Durable laptop stand, can withstand 5kg and more.
                </p>
                <a href="/pcparts" class="gallery_btn">Order Now</a>
            </div>

            <div class="gallery_image">
                <img src="images/ch/rtx40.jpg">

                <h3>GPU</h3>
                <p>
                    RTX 4080 with 3 system fan.
                    </p>
                <a href="/laptopParts" class="gallery_btn">Order Now</a>
            </div>

            <div class="gallery_image">
                <img src="images/ch/mouse.jpg">

                <h3>Zippy Wireless Mouse</h3>
                <p>
                    Black techno wireless mouse. 
                </p>
                <a href="/pcparts" class="gallery_btn">Order Now</a>
            </div>

            <div class="gallery_image">
                <img src="images/lp/ram.png">
            
                <h3>SSD</h3>
                <p>
                    128GB RAM
                </p>
                <a href="/laptopParts" class="gallery_btn">Order Now</a>
        </div>

    </div>

    <!--Footer-->

    <footer>

        <div class="footer_main">

            <div class="footer_tag">
                <h2>Location</h2>
                <p>Cebu</p>
                <p>Iloilo</p>
                <p>Manila</p>
                <p>Aklan</p>
                <p>Negros</p>
            </div>

            <div class="footer_tag">
                <h2>Quick Link</h2>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/pcparts">PC Parts</a>
                <a href="/laptopParts">Laptop Parts</a>
                <a href="/gallery">Gallery</a>
            </div>

            <div class="footer_tag">
                <h2>Contact</h2>
                <p>+94 12 3456 789</p>
                <p>+94 25 5568 456</p>
                <p>johndeo123@gmail.com</p>
                <p>foodshop123@gmail.com</p>
            </div>

            <div class="footer_tag">
                <h2>Our Services</h2>
                <p>Fast Delivery</p>
                <p>Easy Payment</p>
                <p>24 x 7 Service</p>
            </div>

            <div class="footer_tag">
                <h2>Follows</h2>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>

        </div>

        <p class="end">Design by<span><i class="fa-solid fa-face-grin"></i> <%= footer %></span></p>

    </footer>
    
</body>
</html>