<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF=8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, iniitial-scale=1.0">
    <title><%= title%></title>
    <link rel="stylesheet" href="menu.css">
    <link rel="short icon" href="images/Short cut.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body style="background-color: #ADD8E6;">
    <!-- Menu Bar -->

    <nav>
        <div class="logo">
            <a href="index.ejs">
                <img src="images/logoni.png"></a>
        </div>

        <ul>
            <li><a href="index.ejs">Home</a></li>
            <li><a href="about.ejs">About Us</a></li>
            <li>
                <a>Components <i class="fa-sharp fa-solid fa-caret-down"></i></a>
                <ul class="dropdown">
                    <li><a href="pcparts.ejs">PC Parts</a></li>
                    <li><a href="laptop-parts.ejs">Laptop Parts</a></li>
                    <li><a href="desserts.ejs">Other Accessories</a></li>
                </ul>
            </li>
            <li><a href="gallery.ejs">Gallery</a></li>
        </ul>
        <div class="box">
            <input type="checkbox" id="check">
            <div class="search-box">
                <input type="text" placeholder="Type here...">
                <label for="check" class="icon">
                    <i class="fas fa-search"></i>
                </label>
            </div>
        </div>

    </nav>

    
    <!--Banner-->

    <div class="banner_bg">

        <h1>Pork<span>Dishes</span></h1>

    </div>

    <!--Menu-->

    <div class="menu anim">

        <div class="menu_box">
            <div class="menu_card">

                <div class="menu_image">
                    <img src="images/Lechon kawali.webp">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Lechon kawali</h2>
                    <p>
                        Filipino food
                    </p>
                    <h3>Php 110.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="order.ejs" class="menu_btn">Order Now</a>
                </div>

            </div> 
            
            <div class="menu_card">

                <div class="menu_image">
                    <img src="images/crispy-pata.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Crispy Pata</h2>
                    <p>
                        Filipino Food
                    </p>
                    <h3>Php 110.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="order.ejs" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="images/pork sisig.webp">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Pork Sisig</h2>
                    <p>
                        Filipino Food
                    </p>
                    <h3>Php 110.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="order.ejs" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="images/Pork sinigang.webp">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Pork Sinigang</h2>
                    <p>
                        Filipino Food
                    </p>
                    <h3>Php 110.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="order.ejs" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="images/lechon-baboy.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Lechon Baboy</h2>
                    <p>
                        Filipino Food
                    </p>
                    <h3>Php 110.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="order.ejs" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="images/pork-asado.webp">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Pork Asado</h2>
                    <p>
                        Filipino Food
                    </p>
                    <h3>Php 110.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="order.ejs" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="images/pork-bistek.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Pork Bistek</h2>
                    <p>
                        Filipino Food
                    </p>
                    <h3>Php 110.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="order.ejs" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="images/pork-barbeque.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Pork Barbeque</h2>
                    <p>
                        Filipino Food
                    </p>
                    <h3>Php 110.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="order.ejs" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="images/Kare kare.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Kare kare</h2>
                    <p>
                        Filipino Food
                    </p>
                    <h3>Php 110.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="order.ejs" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="images/Pork-Menudo.png">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Pork Menudo</h2>
                    <p>
                        Filipino Food
                    </p>
                    <h3>Php 110.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="order.ejs" class="menu_btn">Order Now</a>
                </div>

            </div>

            <div class="menu_card">

                <div class="menu_image">
                    <img src="images/Pork Hamonado.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Pork Hamonado</h2>
                    <p>
                        Filipino Food
                    </p>
                    <h3>Php 110.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="order.ejs" class="menu_btn">Order Now</a>
                </div>

            </div>

            <div class="menu_card">

                <div class="menu_image">
                    <img src="images/Pork Adobo.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Pork Adobo</h2>
                    <p>
                        Filipino Food
                    </p>
                    <h3>Php 110.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="order.ejs" class="menu_btn">Order Now</a>
                </div>

            </div>
            
        </div>

    </div>

    <!--Footer-->

    <footer>

        <div class="footer_main">

            <div class="footer_tag">
                <h2>Location</h2>
                <p>Cebu</p>
                <p>Iloilo</p>
                <p>Manila</p>
                <p>Aklan</p>
                <p>Negros</p>
            </div>

            <div class="footer_tag">
                <h2>Quick Link</h2>
                <a href="index.ejs">Home</a>
                <a href="about.ejs">About</a>
                <a href="menu.ejs">Menu</a>
                <a href="gallery.ejs">Gallery</a>
            </div>

            <div class="footer_tag">
                <h2>Contact</h2>
                <p>+94 12 3456 789</p>
                <p>+94 25 5568 456</p>
                <p>johndeo123@gmail.com</p>
                <p>foodshop123@gmail.com</p>
            </div>

            <div class="footer_tag">
                <h2>Our Services</h2>
                <p>Fast Delivery</p>
                <p>Easy Payment</p>
                <p>24 x 7 Service</p>
            </div>

            <div class="footer_tag">
                <h2>Follows</h2>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>

        </div>

        <p class="end">Design by<span><i class="fa-solid fa-face-grin"></i> WeIT: Online IT Essentials Shop</span></p>

    </footer>
    



</body>
</html>