*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background: #A4D0A4;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

nav .logo img{
    width: 130px;
    margin: 10px 0;
    position: relative;
    left: -10%;
    cursor: pointer;
}

nav ul{
    list-style: none;
    margin-left: 100px;
}

nav ul li{
    display: inline-block;
    margin: 0 10px;
}

nav ul li a i{
    margin-left: 8px;
}

nav ul li a{
    display: block;
    padding: 15px 0;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li ul.dropdown li{
    display: block;
}

nav ul li ul.dropdown {
    margin-left: -10px;
    width: 150px;
    background: #A6D0DD;
    border-radius: 10px;
    position: absolute;
    z-index: 1000;
    display: none;
}

nav ul li a:hover{
    color: #576CBC;
}

nav ul li:hover ul.dropdown{
    display: block;
}


.box{
    max-width: 350px;
    width: 100%;
}

.box .search-box{ 
    position: relative;
    height: 50px;
    max-width: 50px;
    margin: auto;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
    border-radius: 25px;
    transition: all 0.5s ease;
}
#check:checked ~ .search-box{
    max-width: 380px;
}
.search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background: #fff;
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: 18px;
}

.search-box .icon{
    position: absolute;
    right: -2px;
    top: 0;
    width: 50px;
    background: #fff;
    height: 100%;
    text-align: center;
    line-height: 50px;
    color: #576CBC;
    font-size: 20px;
    border-radius: 25px;
}

#check:checked ~ .search-box .icon{
    background: #576CBC;
    color: #fff;
    width: 60px;
    border-radius: 0 25px 25px 0;
}

#check{
    display: none;
}

/*Order*/

.order{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    background-image: url(image/bg2.jpg);
    background-size: cover;
    background-position: center;
}

.order h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 55px;
    margin-top: 50px;
}

.order h1 span{
    color: #576CBC;
    margin-right: 15px;
    font-family: mv boli;
}

.order h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #576CBC;
    display: block;
    position: relative;
    bottom: 15px;
}

.order .order_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.order .order_main .order_image img{
    width: 500px;
}

.order .order_main form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 10px;
}

.order .order_main form .input p{
    line-height: 25px;
}

.order .order_main form .input{
    margin: 5px;
}

.order .order_main form .input input{
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border: 2px solid #cccccc;
    background: #eeeeee;
    outline: none;
    border-radius: 3px;
}

.order .order_main form .input input:focus{
    border: 2px solid #576CBC;
}

.order .order_main form .order_btn{
    border: 2px solid #576CBC;
    position: relative;
    padding: 10px 0;
    width: 40%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #000;
    margin-top: 20px;
    font-size: 15px;
    transition: 0.4s;
    
}


.order .order_main form .order_btn:hover{
    color: #ffffff;
}

.order .order_main form .order_btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #576CBC;
    z-index: -1;
    transition: 0.3s;
}

.order .order_main form .order_btn:hover::before{
    top: unset;
    width: 100%;
    bottom: 0;
}

.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0  10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #64d649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}


/*Footer*/

footer{
    width: 100%;
    padding: 30px 0 0 20px;
    background: #eeeeee;
}

footer .footer_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer_main .footer_tag{
    text-align: center;
}

footer .footer_main .footer_tag h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 30px;
}

footer .footer_main .footer_tag p{
    margin: 10px 0;
}

footer .footer_main .footer_tag a{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 10px 0;
    margin-left: 130px;
    text-decoration: none;
    color: #000;
}

footer .footer_main .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
}

footer .footer_main .footer_tag i:hover{
    color: #576CBC;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

footer .end span{
    color: #576CBC;
    margin-left: 10px;
}

::-webkit-scrollbar{
    width: 13px;
}

::-webkit-scrollbar-track{
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb{
    background: #fac031;
    border-radius: 15px;
}

.anim{
    transform: translateY(40px);
    opacity: 0;
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
